{% extends 'base/base.html' %}

{% import "ui/main_page.html" as pg %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/demand_list.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='jquery-pretty-radio-checkbox/css/jquery-labelauty.css') }}">
    <style>
        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
        }

        input.labelauty + label {
            font: 16px "Microsoft Yahei";
        }
    </style>
{% endblock %}

{% block content %}

    {#    {% for data in page_data %}#}
    {#        <div>#}
    {#            <a href="{{ url_for('main.demand_detail', id=data.id) }}">{{ data.name }}</a>#}
    {#            {% for tag in data.tags %}#}
    {#                <p>{{ tag }}</p>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    {% endfor %}#}

    <div style="background-color: rgb(231,231,231);">
        <!--  标     志 -->
        <div class="mylogo">
            <img src="{{ url_for('static', filename='main/img/logo_03.gif') }}" alt=""
                 style="margin-left: 20px;margin-top: 10px;float: left;">
            <h3>AIGO</h3>
            <h3 style="color: black;margin-left: 50px;font-size: 50px;">需求市场</h3>
        </div>

        <!-- 主 题 展 示 -->
        <section>
            <div class="demo-show-main">
                <div class="labelbox">
                    <h4 class="checkbox-h4">技术标签</h4>
                </div>
                <form action="{{ url_for('main.demand_filter', page=1) }}" method="post">
                    <div class="checkbox-div">
                        <ul class="dowebok">
                            {% for tag in tags %}
                                <li><input type="checkbox" name="{{ tag.id }}"
                                           data-labelauty={{ tag.name }}></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="select">
                        <button type="submit" class="btn my-btn-search">筛选</button>
                    </div>
                </form>
                <div class="sort">
                    <h4 style="line-height: 8px;font-size: 18px;margin-left: 15px;">排序</h4>
                    <a id='b1' class="btn my-btn-nor" onclick="change(this)" href="{{ url_for('main.demand_list', page=1) }}">智能排序</a>
                    <a id='b2' class="btn my-btn-nor" onclick="change(this)" href="{{ url_for('main.demand_list', page=1) }}?dn=1&time=0&star=0">名称排序</a>
                    <a id='b3' class="btn my-btn-nor" onclick="change(this)" href="{{ url_for('main.demand_list', page=1) }}?dn=0&time=1&star=0">发布时间<span
                            class="glyphicon glyphicon-arrow-up"></span></a>
                    <a id='b4' class="btn my-btn-nor" onclick="change(this)" href="{{ url_for('main.demand_list', page=1) }}?dn=0&time=0&star=1">收藏数<span
                            class="glyphicon glyphicon-arrow-up"></span></a>
{#                        <button type="submit" class="btn my-btn-search">筛选</button>#}
                </div>
                <div>
                    {% for v in page_data.items %}
                        <div class="demo-show">
                            <div class="number">
                                <a class="be-block" href="{{ url_for("main.demand_detail", id=v.id) }}">{{ v.name }}</a>
                                <br>
                                <h5>编号 {{ v.id }}</h5>
                            </div>
                            <div class="time">
                                <h5 style="margin-top: 10px;">发布者 {{ v.enterprise.name }}</h5>
                                <h5>demand来自 企业</h5>
                                <h5>发布时间 {{ v.addtime }}</h5>
                            </div>
                            <div class="collection">
                                <button style="background-color: white;border: none;color: black;"
                                        onclick="clickchange(this)"><span class="glyphicon glyphicon-star-empty"
                                                                          style="font-size: 30px;"></span></button>
                                <h5>{{ v.star }}</h5>
                            </div>
                            <div class="label-show">
                                标签
                                {% for tag in v.tags %}
                                    <span class="label label-primary">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="demo-show" style="border-bottom: none">
                        {{ pg.page(page_data, 'main.demand_list') }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='main/js/demand_list.js') }}" type="text/javascript" charset="utf-8"
            async defer></script>
    <script src="{{ url_for('static', filename='jquery-pretty-radio-checkbox/js/jquery-labelauty.js') }}"></script>
    <script>
        $(function () {
            $(':input').labelauty();
        });
    </script>

{% endblock %}