{% extends 'user/menu.html' %}

{% block builtin %}
    <div class="container">
        <div class="col-md-9">
            <div class="myright">
                <div class="R-top">
                    <p>
                        <b>智能匹配</b>
                    </p>
                </div>
                <div class="R-bottom">
                    {% for data in user.demos %}
                        <div class="myitem">
                            <h3>
                                <a href="{{ url_for('main.demo_detail', id=data.id) }}">{{ data.name }}</a>
                            </h3>
                            <button><span class="glyphicon glyphicon-refresh" style="font-size: 23px;"></span></button>
                            {% for demand in redic[data.id] %}
                            <a href="{{ url_for('main.demand_detail', id=demand.id) }}" class="demo-comp">
                                {{ demand.name }}
                            </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {#                <div class="panel-body">#}
            {#                    {% if demodic!={} %}#}
            {#                        {% for id in demodic.keys() %}#}
            {#                            <div>#}
            {#                                <span>demo为{{ demodic[id].name }}</span>#}
            {#                            </div>#}
            {#                            <div>#}
            {#                                <span>推荐的demand为</span>#}
            {#                                {% for demand in redic[id] %}#}
            {#                                    <span>{{ demand.name }}</span>#}
            {#                                {% endfor %}#}
            {#                            </div>#}
            {#                        {% endfor %}#}
            {#                    {% else %}#}
            {#                        <div class="col-md-6" style="background-color: white; height: 400px;">#}
            {#                            <div style="margin-top: 20px; font-size: large">#}
            {#                                <span>你还没有发布过demo哟，赶紧去发布一个吧~</span>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    {% endif %}#}
            {#                </div>#}
            {#            </div>#}
            {#    </div>#}
            {#    </div>#}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script href="{{ url_for('static', filename='plus-in/jQuery.textSlider.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#scrollDiv").textSlider({line: 2, speed: 500, timer: 3000});
        });
    </script>
{% endblock %}