.mylogo {
    height: 94px;
    width: 1000px;
    border-bottom: 2px solid #3399ff;
    margin: 0px auto;
    margin-top: 51px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(83, 83, 83, 3);
}

h3 {
    display: block;
    float: left;
    font-size: 70px;
    color: #3399ff;
    font-family: SimHei;
    margin-left: 20px;
    line-height: 48px;
}

.demo-show-main {
    width: 1000px;
    margin: 0px auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(83, 83, 83, 3);
}

.labelbox {
    width: 900px;
    height: 100px;
    margin: 0px auto;
}

h4 {
    display: block;
    float: left;
}

.checkbox-h4 {
    margin-top: 18px;
}

.checkbox-div {
    width: 820px;
    float: left;
    margin-top: 10px;
}

.sort {
    width: 900px;
    height: 35px;
    background-color: rgb(231, 231, 231);
    margin: 0px auto;
}

.sort > button:focus {
    outline: none;
    box-shadow: none;
    color: black;
}

.sort > button:hover {
    background-color: #3399ff;
    color: white;
}

.my-btn-nor {
    margin-left: 80px;
    height: 27px;
    line-height: 15px;
    margin-top: 2px;
    color: black;
    background-color: white;
    border-radius: 0px;
}

.my-btn-active {
    margin-left: 80px;
    height: 27px;
    line-height: 15px;
    margin-top: 2px;
    color: black;
    background-color: #F8D802;
    border-radius: 0px;
}

.my-btn-search {
    float: right;
    height: 33px;
    line-height: 15px;
    color: white;
    background-color: #3399ff;
    border-radius: 0px;
}

.demo-show {
    width: 900px;
    height: 100px;
    margin: 0px auto;
    border-bottom: 2px solid rgb(231, 231, 231);
}

.number,
.time {
    width: 200px;
    height: 100px;
    margin: 0px;
    float: left;
    margin-left: 50px;
}

.be-block {
    display: block;
    width: 10em;
    height: 25px;
    margin-top: 10px;
    color: #3399ff;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.number a:hover {
    color: #3399ff;
}

h5 {
    display: block;
    width: 300px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    margin-top: 7px;
    font-size: 17px;
}

.time h5 {
    color: rgb(206, 206, 206);
}

.collection {
    float: right;
    height: 50px;
    width: 100px;
    margin-top: 25px;
    margin-right: 150px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.myfoot {
    margin-top: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    background-color: #ACAAAA;
}

.footleft {
    height: 40px;
    margin-left: 10%;
    float: left;
}

.footright {
    height: 40px;
    margin-right: 10%;
    float: right;
}

.select {
    width: 50px;
    height: 30px;
    margin-left: 45px;
    margin-bottom: 20px;
}